# Apply KMeans on Churn Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("ChurnData.csv")
df

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,55.0,44.0,24.0,83.0,1.0,23.0,0.0,1.0,0.0,17.35,...,0.0,0.0,0.0,1.0,0.0,2.854,3.199,4.419,3.0,0.0
196,34.0,23.0,3.0,24.0,1.0,7.0,0.0,1.0,0.0,6.00,...,0.0,0.0,1.0,1.0,0.0,1.792,3.332,3.178,3.0,0.0
197,6.0,32.0,10.0,47.0,1.0,10.0,0.0,1.0,0.0,3.85,...,0.0,0.0,1.0,1.0,0.0,1.348,3.168,3.850,3.0,0.0
198,24.0,30.0,0.0,25.0,4.0,5.0,0.0,1.0,1.0,8.70,...,1.0,1.0,1.0,1.0,1.0,2.163,3.866,3.219,4.0,1.0
199,61.0,50.0,16.0,190.0,2.0,22.0,1.0,1.0,1.0,16.85,...,0.0,1.0,0.0,0.0,1.0,2.824,3.240,5.247,2.0,0.0

In [3]:
X=df.drop('churn', 1)
Y=df.churn

In [4]:
from sklearn.preprocessing import MinMaxScaler
x=X.values
mmc=MinMaxScaler()
Norm=mmc.fit_transform(x)
X_new=Norm
X_new

array([[0.14084507, 0.24561404, 0.14583333, ..., 0.51815981, 0.52010724,
        1.        ],
       [0.45070423, 0.24561404, 0.25      , ..., 0.60169492, 0.24894676,
        0.        ],
       [0.30985915, 0.19298246, 0.1875    , ..., 0.60169492, 0.230563  ,
        0.66666667],
       ...,
       [0.07042254, 0.22807018, 0.20833333, ..., 0.57263923, 0.31654538,
        0.66666667],
       [0.32394366, 0.19298246, 0.        , ..., 0.854318  , 0.19571046,
        1.        ],
       [0.84507042, 0.54385965, 0.33333333, ..., 0.60169492, 0.58406741,
        0.33333333]])

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train,X_test,Y_train,Y_test=train_test_split(X_new, Y, test_size=0.2, random_state=3)
Y_train

156    0.0
115    1.0
155    0.0
15     1.0
61     0.0
      ...
0      1.0
184    0.0
131    1.0
152    1.0
106    0.0
Name: churn, Length: 160, dtype: float64

In [7]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 2, max_iter=35000)
kmodel=kmeans.fit(X_train)
pred=kmodel.predict(X_train)
print(pred)

[0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0
 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 1 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 0 0 0 0 1 0 1 1 1 1 1 0
 0 1 0 0 0 0 0 1 0 0 0 0]

Prediction on training data

In [8]:
pd.crosstab(Y_train,pred)

col_0   0   1
churn
0.0    87  26
1.0    27  20

In [9]:
(89+20)/(89+20+24+27)

0.68125

Prediction On Testing Data

In [10]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 2, max_iter=30000)
kmodel=kmeans.fit(X_train)
pred=kmodel.predict(X_test)
print(pred)

[0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0
 0 0 0]

In [11]:
pd.crosstab(Y_test, pred)

col_0   0  1
churn
0.0    22  7
1.0     9  2

In [12]:
(22+2)/(22+2+7+9)

0.6

In [15]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(Y_train, kmodel.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(Y_test, kmodel.predict(X_test)))

Train set Accuracy:  0.66875
Test set Accuracy:  0.6